h1 {
	color: #4832a8;
	text-align: center;
}

div{
	background-color: teal;
	width: 400px;
	height: 400px;
	margin: 30px;
	padding: 20px;
	font-family: Arial, sans-serif;
	font-size: 28px;
	border: 3px dotted black;
}

table {
	border: 2px solid black;
	border-collapse:collapse;

}

th, td {
	border: 1px solid black ;
	padding: 5px;
}

th {
	background-color: lightgray;
}

#top {
	font-size: 36px;
	height: 100px;
}

.Name {
	font-size: 36px;
	font-weight: bold;
}